//Colors
$textColor:#f28500 ;
$titleColor:#f8f9fb;
$greyText:#808080;
$footerColor:#242d3d;
$headerColor:#303338;
// Grid System
$grid-columns: 12;
$grid-max-width: 1200px; //breakpoint-small
$breakpoint-xs: "only screen and (min-width: 0px)";
$breakpoint-small: "only screen and (min-width: 451px)";
$breakpoint-medium: "only screen and (min-width: 768px)";
$breakpoint-large: "only screen and (min-width: 1008px)";
$breakpoint-xl: "only screen and (min-width: 1300px)";
//font
$textFont: "Open sans ", sans-serif;
$displayFont:"Rozha One", serif;
